@model RentACar.Web.ViewModels.AddVehicleViewModel
@{
	ViewData["Title"] = "Add Vehicle";
}

<div class="header">
	<h1 class="found-branches-title">@ViewData["Title"]</h1>
</div>

<form method="post" asp-controller="Vehicle" asp-action="Add">
	<div class="row" id="add-vehicle">
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.MakeId" class="form-label-add-edit">Select Make</label>
			<select asp-for="@Model.MakeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Makes, "Id", "Name"))">
				<option value="">Select Make...</option>
			</select>
			<span asp-validation-for="@Model.MakeId" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.EngineId" class="form-label-add-edit">Select Engine...</label>
			<select asp-for="@Model.EngineId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Engines, "Id", "DisplayName"))">
				<option value="">Select Engine...</option>
			</select>
			<span asp-validation-for="@Model.EngineId" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.Color" class="form-label-add-edit">Select Color...</label>
			<input asp-for="Color" class="form-control" placeholder="Vehicle color..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.VehicleTypeId" class="form-label-add-edit">Select Vehicle Type...</label>
			<select asp-for="@Model.VehicleTypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.VehicleTypes, "Id", "Name"))">
				<option value="">Select Vehicle Type...</option>
			</select>
			<span asp-validation-for="@Model.VehicleTypeId" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.Model" class="form-label-add-edit">Select Model...</label>
			<input asp-for="Model" class="form-control" placeholder="Vehicle Model..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.TransmissionId" class="form-label-add-edit">Select Vehicle Transmission...</label>
			<select asp-for="@Model.TransmissionId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Transmissions, "Id", "DisplayName"))">
				<option value="">Select Vehicle Type...</option>
			</select>
			<span asp-validation-for="@Model.TransmissionId" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.SeatsCount" class="form-label-add-edit">Select Vehicle Seats count...</label>
			<select asp-for="@Model.SeatsCount" class="form-control" aria-required="true" asp-items="@(new SelectList(new int[] {2,5,7}))">
				<option value="">Select Vehicle Type...</option>
			</select>
			<span asp-validation-for="@Model.SeatsCount" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.DoorsCount" class="form-label-add-edit">Select Vehicle Doors count...</label>
			<select asp-for="@Model.DoorsCount" class="form-control" aria-required="true" asp-items="@(new SelectList(new int[] {2,4}))">
				<option value="">Select Vehicle Type...</option>
			</select>
			<span asp-validation-for="@Model.DoorsCount" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.Year" class="form-label-add-edit">Select Year...</label>
			<input asp-for="Year" class="form-control" placeholder="Vehicle Year..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.Mileage" class="form-label-add-edit">Select Mileage...</label>
			<input asp-for="Mileage" class="form-control" placeholder="Vehicle Mileage..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.RegistrationNumber" class="form-label-add-edit">Select Registration Number...</label>
			<input asp-for="RegistrationNumber" class="form-control" placeholder="Vehicle Registration Number..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.ImageUrl" class="form-label-add-edit">Select ImageUrl...</label>
			<input asp-for="ImageUrl" class="form-control" placeholder="Vehicle ImageUrl..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.VINNumber" class="form-label-add-edit">Select VIN Number...</label>
			<input asp-for="VINNumber" class="form-control" placeholder="Vehicle VIN Number..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.BranchId" class="form-label-add-edit">Select Branch...</label>
			<select asp-for="@Model.BranchId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Branches, "Id", "DisplayName"))">
				<option value="">Select Branch...</option>
			</select>
			<span asp-validation-for="@Model.BranchId" class="text-danger"></span>
		</div>
	</div>

	<div class="mb-2">
		<input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Add Vehicle" />
	</div>
</form>
