@model RentACar.Web.ViewModels.EditVehicleViewModel
@{
	ViewData["Title"] = "Edit Vehicle";
}

<div class="header">
	<h1 class="found-branches-title">@ViewData["Title"]</h1>
</div>

<form method="post" asp-controller="Vehicle" asp-action="Edit">
	<div class="row" id="add-vehicle">
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.EngineId" class="form-label-add-edit">Select Engine...</label>
			<select asp-for="@Model.EngineId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Engines, "Id", "DisplayName"))">
				<option value="">Select Engine...</option>
			</select>
			<span asp-validation-for="@Model.EngineId" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.Color" class="form-label-add-edit">Select Color...</label>
			<input asp-for="Color" class="form-control" placeholder="Vehicle color..." />
			<span asp-validation-for="@Model.Color" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.TransmissionId" class="form-label-add-edit">Select Vehicle Transmission...</label>
			<select asp-for="@Model.TransmissionId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Transmissions, "Id", "DisplayName"))">
				<option value="">Select Vehicle Transmission...</option>
			</select>
			<span asp-validation-for="@Model.TransmissionId" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.RegistrationNumber" class="form-label-add-edit">Select Registration Number...</label>
			<input asp-for="RegistrationNumber" class="form-control" placeholder="Vehicle Registration Number..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.ImageUrl" class="form-label-add-edit">Select ImageUrl...</label>
			<input asp-for="ImageUrl" class="form-control" placeholder="Vehicle ImageUrl..." />
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.BranchId" class="form-label-add-edit">Select Branch...</label>
			<select asp-for="@Model.BranchId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Branches, "Id", "DisplayName"))">
				<option value="">Select Branch...</option>
			</select>
			<span asp-validation-for="@Model.BranchId" class="text-danger"></span>
		</div>
		<div class="col-sm-6 mb-2">
			<label asp-for="@Model.PricePerDay" class="form-label-add-edit">Select Price per day...</label>
			<input asp-for="PricePerDay" class="form-control" placeholder="Vehicle price..." />
			<span asp-validation-for="@Model.PricePerDay" class="text-danger"></span>
		</div>
		<input type="hidden" asp-for="Id" />
	</div>

	<div class="mb-2">
		<input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save Changes" />
	</div>
</form>
