@model RentACar.Web.ViewModels.Parts.DeleteTransmissionViewModel;
@{
    ViewData["Title"] = "Delete transmission";
}

<div class="header">
    <h1 class="found-branches-title">@ViewData["Title"]</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Confirm delete:</h3>
                <p class="text-danger mt-3">Are you sure you want to delete @Model.DisplayName</p>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteTransmission" asp-controller="Parts" method="post">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="GearsCount" value="@Model.GearsCount" />
                    <input type="hidden" asp-for="TransmissionType" value="@Model.TransmissionType" />
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a asp-controller="Parts" asp-action="GetAllTransmissions" class="btn btn-warning">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>