@{
    ViewData["Title"] = $"Actions for {ViewData["City"]}";
}
<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<div class="header">
    <h1 class="found-branches-title">@ViewData["Title"]</h1>
</div>

<div class="branches-index-wrapper">
        <form asp-action="Vehicles" asp-controller="Vehicle" method="get" class="col-md-3 mb-4 ms-auto me-auto">
            <input type="hidden" name="BranchId" value="@ViewData["BranchId"]" />
            <input type="hidden" name="BranchId" value="@ViewData["City"]" />
            <div class="card h-100 bg-bluegradient" style="width: 100%;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Delete/Edit Vehicle</h5>
                    <div class="d-flex justify-content-between mt-auto">
                        <button type="submit" class="btn btn-info w-100">Visit</button>
                    </div>
                </div>
            </div>
        </form>
    <form asp-action="VehiclesForService" asp-controller="Vehicle" method="get" class="col-md-3 mb-4 ms-auto me-auto">
        <input type="hidden" name="BranchId" value="@ViewData["BranchId"]" />
        <input type="hidden" name="BranchId" value="@ViewData["City"]" />
        <div class="card h-100 bg-bluegradient" style="width: 100%;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Vehicles due for service</h5>
                <div class="d-flex justify-content-between mt-auto">
                    <button type="submit" class="btn btn-info w-100">Visit</button>
                </div>
            </div>
        </div>
    </form>
    <form asp-action="VehiclesRentalEndingToday" asp-controller="Vehicle" method="get" class="col-md-3 mb-4 ms-auto me-auto">
        <input type="hidden" name="BranchId" value="@ViewData["BranchId"]" />
        <input type="hidden" name="BranchId" value="@ViewData["City"]" />
        <div class="card h-100 bg-bluegradient" style="width: 100%;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Vehicles rentals due for today</h5>
                <div class="d-flex justify-content-between mt-auto">
                    <button type="submit" class="btn btn-info w-100">Visit</button>
                </div>
            </div>
        </div>
    </form>
</div>