@model IEnumerable<RentACar.Web.ViewModels.VehicleTypeViewModel>;
@{
    ViewData["Title"] = $"Available vehicle types for this branch";
}
<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<div class="header">
    <h1 class="found-branches-title">@ViewData["Title"]</h1>
</div>

<div class="branches-index-wrapper">
    @foreach (var vehicleType in Model)
    {
        <div class="col-md-3 mb-4 ms-auto me-auto">
            <div class="card h-100 bg-bluegradient" style="width: 100%;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@vehicleType.Name</h5>
                    <img src="@vehicleType.ImageUrl" />
                    <div class="d-flex justify-content-between mt-auto">
                        <a asp-controller="Branch" asp-action="Vehicles"
                           asp-route-id="@vehicleType.BranchId"
                           asp-route-pickupDate="@vehicleType.PickUpDate"
                           asp-route-returnDate="@vehicleType.ReturnDate"
                           asp-route-vehicleTypeName="@vehicleType.Name"
                           class="btn btn-info w-100">Select</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>