@using static RentACar.Common.EntityValidationConstants.Branch;
@model RentACar.Web.ViewModels.Rental.DealViewModel


<div class="rental-wrapper">
	<div class="header">
		<h2 class="found-branches-title">Reserve @Model.Vehicle.Name</h2>
	</div>
	<div class="reservation">
		<div class="vehicle-img">
			<img src="@Model.Vehicle.ImageUrl" />
		</div>
		<div class="reservation-info">
			<h3>@Model.Vehicle.Name</h3>
			<p>Transmission type: @Model.Vehicle.TransmissionType</p>
			<p>Seats count: @Model.Vehicle.SeatsCount</p>
			<p>Pick up date: @Model.PickupDate</p>
			<p>Return date: @Model.ReturnDate</p>
			<p class="rental-price">Price for the rental: <span>@Model.Price BGN</span></p>
		</div>
		<div class="reserve">
			<a asp-controller="Rental" asp-action="Reserve"
			   class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded"
			   asp-route-branchId="@Model.Branch.Id"
			   asp-route-vehicleId="@Model.Vehicle.Id"
			   asp-route-pickupDate="@Model.PickupDate.ToString(RentalDateFormat)"
			   asp-route-returnDate="@Model.ReturnDate.ToString(RentalDateFormat)"
			   asp-route-price="@Model.Price"
			   asp-route-vehicleTypeName="@Model.VehicleType">Reserve</a>
		</div>
	</div>
</div>
